*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0 auto;
}

/* Header */

header{
    background-image: url(assets/images/header-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}

#logo{
    margin: 50px 0 0 50px;
}

h1{
    margin: 70px 0 0 220px;
    font-weight: 600;
    font-size: 40px;
}

header p{
    margin: 30px 0 0 220px;
    padding-bottom: 100px;
}

/* Second Section */

#merchan{
    background-color: #EAECE5;
}

.merchan-center{
    background-color: #EAECE5;
    padding: 50px 0 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1800px;
}

#merchan i{
    margin-right: 5px;
    color: #247BA0;
}


/* Third Section */

#video-center{
    max-width: 1800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    padding: 70px 0;    
}

#text{
    text-align: justify;
}

#text h2{
    color: #247BA0;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 20px;;
}

/* Fourth Section */

#cards{
    background-color: #247BA0;
}

#cards-center{
    background-color: #247BA0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0 50px 0;
    max-width: 1800px;
}


#cards-center i{
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 60px;
}

#cards-center i:hover:not(.offline){
    transform: translateY(-7px);
}

#cards-center .offline{
    color: #a1a1a1;
    cursor: not-allowed;
}

.card{
    display: flex;
    align-items: center;
    background-color: #EAECE5;
    width: 500px;
    height: 150px;
    padding: 10px;
    border-radius: 20px;
}

.card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.card span{
    margin-top: 10px;
    display: block;
    font-weight: bolder;
}

.invisible{
    display: none;
}


#page{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    padding-bottom: 20px;
}

.circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 5px;   
    cursor: pointer; 
}

.notInPage{
    background-color: transparent;
    border: 1px solid white;
}

.notInPage:hover{
    background-color: rgba(255, 255, 255, 0.425);
}


/* Fifht section */

#phone-number::-webkit-inner-spin-button{
    display: none;
}


#form-section{
    text-align: center;
    margin: 30px 0;
}

#form-section h2{
    margin: 20px;
    font-size: 32px;
    font-weight: 700;
}

.default-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.default-form input{
    background-color: #EAECE5;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0;

    width: 400px;
}

.default-form input[type="submit"]{
    background-color: #247BA0;
    border: none;
    outline: none;
    width: 350px;
    padding: 15px;
    border-radius: 5px;
    color: white;

    margin: 15px 0;
    font-weight: 600;
    font-size: 16px;

    transition: all 0.3s ease;
    cursor: pointer;
}

.default-form button:hover{
    transform: translateY(-7px);
}